@charset "UTF-8";

body{
    font: normal 1em Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

#link1:hover{
    text-decoration: none;
}
a:visited {
    color: darkred;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: yellow;
}

a.especial:hover{
    color: white;
    background-color: black;
    text-decoration: none;
}

a.especial::before{
    content: '>>';
    font: lighter;
}

a.especial::after{
    content: '<<';
    font: lighter;
}