@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D4FEE8;
}

h1{
    color: #345C47;
}

h2{
    color: #72A48A;
}

#principal{
    text-align: center;
    background-color: #306A4D ;
    color: white;
}

.basico{
    color: #72A48A ;
    font-weight: bold;
}

.intermediario{
    color: #a4a172;
}

.avancado{
    color: #a47272;
}

.destaque{
    background-color: rgba(255, 255, 0, 0.288);
}