@charset "UTF-8";

body {
    background-color:#FAFAD2 ;   
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: #DAA520;
    color: #800000;
    font-size: 30pt;
    text-decoration-line: underline;
    text-decoration: #8B0000;
}

h2{
    font-size: 22pt;
    color: #8B0000;
}

p{
    text-align: justify;
    font-size: 15pt;
}
